---
title: false
styles: true
---

.feature {
  // margin-top: 60px;
  padding-bottom: 0;
  margin-bottom: 1.6rem;
  text-align: center;
  background-size: cover;
  background-position: center 90%;
  .container {
    min-height: 35vh;
    max-width: 60%;

  }
}

.feature-container {
    min-height: 450px;
}

.feature-overlay {
    color: #fff;
    width: 100%;
    height: 100%;
    margin-top: 130px;
}

.site-title h2{
  color: white;
  font-weight: 600;
  padding: 15px;
  font-size: 25px;
  transition: all 0.5s;
}

h2.title-scrolled{
  font-size: 16px;
  padding: 0;
}

#header {
  position: fixed;
  top:0;
  left: 0;
  right: 0;
  z-index: 10;
  //background-color: rgba(0, 0, 0, 0.8);
  hr {
    border-color: rgba(255, 255, 255, 0.3);
    margin-top: 5px;
  }
  background: #989390;
}

.header-scrolled {
  background: #989390bb !important;
  transition: all 0.5s;
}

a {
  color: #eee;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #F3F2EC;
  color: #383236;
}

.front-page-card {
  width: 255px;
  height: 200px;
  object-fit: cover;
}

footer {
  background-color: #D08956;
}

.card-header {
  background-color: #B76B4E;
  color: #F3F2EC;
}
